@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3wxwm2');
    src:  url('../fonts/icomoon.eot?3wxwm2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3wxwm2') format('truetype'),
    url('../fonts/icomoon.woff?3wxwm2') format('woff'),
    url('../fonts/icomoon.svg?3wxwm2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
  content: "\e900";
}
.icon-display:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e902";
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.main {
    color: #ffffff;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* =Footer */
.footer {
    font-size: 1.6rem;
    color: #666666;
    text-align: center;
    padding: 3rem 0 3rem 0.4rem ;
}
.footer p {
    margin: 0;
}
/* Footer */

/* =Content */
.content {
    background: #ffffff;
    color: #6f7173;
}

@media (min-width: 640px) {
    .content {
        background: #333333;
        color: #aaa;
    }
}
.content-inner {
    padding-bottom: 3.1rem;
}
.content-inner > * {
    margin: 0;
}
.content-inner h1 {
    font-size: 2.11rem;
    padding-top: 3.1rem;
    padding-left: 5rem;
}
@media (min-width: 640px) {
    .content-inner h1 {
        font-size: 2.71rem;
        text-align: left;
        margin-bottom: 0.5rem;
        padding: 2.4rem 0 0 0;
    }
}
.content-img {
    width: 109px;
    height: 80px;
}
@media (min-width: 640px) {
    .content-img {
        width: 371px;
        height: 279px;
    }
}
@media (min-width: 640px) {
    .content-inner h1 {
    font-size: 4.2rem;
    margin-bottom: 0.5rem;
    padding-top: 2.4rem;
    text-align: left;
    }
}
.cart {
    text-align: center;
    padding-top: 1.7rem;
}
@media (min-width: 640px) {
    .cart {
        float: left;
        width: 50%;
        padding: 0;
    }
}
@media (min-width: 640px) {
    .content-img {
        float: left;
        margin: 2.6rem 9.8rem 1.9rem 1.6rem
    }
}
@media (min-width: 640px) {
    .accordion {
        float: right;
        width: 50%;
    }
}
.accordion h2 {
    font-size: 1.7rem;
    margin-top: 0.6rem;
}
@media (min-width: 640px) {
    .accordion h2 {
        margin: 0 0.1rem;
        line-height: 1.3;
        font-size: 2.6rem;
    }
}
.accordion p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-top: 0.57rem;
}
@media (min-width: 640px) {
    .accordion p {
        font-size: 1.5rem;
        line-height: 1.733;
        margin: 2.2rem 0 1.7rem 0.1rem;
    }
}
.accordion-row {
    display: none;
}
@media (min-width: 640px) {
    .accordion-row {
        display: block;
        margin-left: 0.2rem;
        margin-right: -5rem;
    }
}
.accordion-headline,
.accordion-body {
    color: #333333;
    border-radius: 1rem;
}
.accordion-headline {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1.2rem 0 1.2rem 2.1rem;
    word-spacing: 0.22rem;
    margin: 0.1rem 0;
    background: #5094f2;
}
.accordion-arrow{
    float: right;
    margin-top: 16px;
    cursor: pointer;
    margin-right: 16px;
    transform: rotate(0deg);
}
.active .accordion-arrow {
    transform: rotate(90deg);
}
.accordion-body {
    padding: 1.8rem 2rem 1.7rem 2.1rem;
    line-height: 1.7;    
    font-size: 1.5rem;
    background: #ffffff;
    display: none;
}
.active .accordion-body {
    display: block;
}

/* Content */

/* =Features */
.features .features-list {
    max-width: 1072px;
}
@media (min-width: 640px) {
    .features .features-list {
        padding: 6.5rem 0 4.3rem;
        max-width: 1072px;
    }
}
.features-list li,
.features-list li > * {
    margin: 0;
}
.features-list li {
    list-style: none;
    float: none;
    min-height: 9.1rem;
    text-align: left;
}
@media (min-width: 640px) {
    .features-list li {
        float: left;
        width: 33.3%;
        text-align: center;
    }
}
.features-list .features-img {
    width: 6.7rem;
    height: 6.7rem;
    float: left;
    margin: auto;
    border-radius: 50%;
    position: relative;
}
@media (min-width: 640px) {
    .features-list .features-img {
        width: 18.6rem;
        height: 18.6rem;
        float: none;
        margin: auto;
    }
}
.features-img [class^="icon-"] {
    font-size: 3.7rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
 @media (min-width: 640px) {
    .features-img [class^="icon-"] {
        font-size: 8.1rem;
    }
}

.features-list li:first-child .features-img {
    background: #5094f2;
    margin-left: 0.6rem;
    margin-top: 2rem;
}
@media (min-width: 640px) {
    .features-list li:first-child .features-img {
        margin: 0; 
        margin-left: 9rem;
    }
}
.features-list li:nth-child(2) .features-img {
    background: #d94748;
    margin-top: 2.4rem;
    margin-left: 0.6rem;
}
@media (min-width: 640px) {
   .features-list li:nth-child(2) .features-img {
        margin: 0; 
        margin-left: 9rem;
    }
}
.features-list li:last-child .features-img {
    background: #ebbb11;
    margin-top: 2.3rem;
    margin-left: 0.6rem;
}
@media (min-width: 640px) {
   .features-list li:last-child .features-img {
        margin: 0;
        margin-left: 9rem;
    }
}
.features-list h3 {
    color: #5094f2;
    font-size: 1.7rem;
    padding-top: 3rem;
    padding-left: 8.4rem;
}
@media (min-width: 640px) {
    .features-list h3 {
        color: #5094f2;
        font-size: 2rem;
        margin: 2.2rem 3rem 0 3rem;
        padding: 0;
    }
}
.features-list p {
    color: #666666;
    font-size: 1.1rem;
    line-height: 1.2;
    padding-left: 8.7rem;
    padding-top: 0.1rem;
}
@media (min-width: 640px) {
    .features-list p {
        font-size: 1.5rem;
        line-height: 1.74;
        margin: 0rem 4rem 0 4rem;
        padding: 0;
    }
}
/* Features */

/* =Carousel */
.carousel {
    background: url(../img/carousel-background.jpg) no-repeat 0 0 fixed;
    background-size: cover;
    overflow: hidden;
    max-height: 12.2rem;
}
@media (min-width: 640px) {
    .carousel {
        background: url(../img/battlement.png) repeat-x 0 100%, url(../img/carousel-background.jpg) no-repeat 0 0 fixed;
        background-size: 12px 8px, cover;
        max-height: 48.2rem;
    }
}
.carousel,
.carousel a {
    color: #fff;
}
.carousel-inner {
    padding: 1rem 0 0.6rem 0;
    position: relative;
}
@media (min-width: 640px) {
    .carousel-inner {
        padding: 4rem 0 1rem 0;
    }
}
.carousel-slides,
.carousel-slides li,
.carousel-slides li > div > * {
    margin: 0;
    padding: 0;
}
.carousel-slides li {
    list-style: none;
    overflow: hidden;
}
.carousel-img {
    float: left;
    width: 31%;
    text-align: right;
}
@media (min-width: 640px) {
    .carousel-img {
        width: 39.3%;
    }
}
.carousel-content {
    float: right;
    width: 57%;
}
@media (min-width: 640px) {
    .carousel-content {
        margin-top: 10.6%;
        width: 50%;
    }
}
.carousel-slides h3 {
    font-size: 1.5rem;
}
.carousel-slides p {
    font-size: 1.1rem;
    line-height: 1.65;
}
@media (min-width: 640px) {
    .carousel-slides h3 {
        font-size: 4.2rem;
    }
    .carousel-slides p {
        font-size: 2.6rem;
        line-height: 1.73;
    }
}

.carousel-slides .carousel-button {
    font-size: 1.3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.6rem;
    padding: 0.6rem 1.3rem 0.6rem 3.1rem;
    background: #5094f2;
    /*transition: background .3s ease-in, color .5s ease-in;*/
    border-radius: 0.3rem;
    position: relative;
}

@media (min-width: 640px) {
    .carousel-slides .carousel-button {
        font-size: 1.7rem;
        margin-top: 2.9rem;
        font-size: 2.2rem;
        padding: 0.7rem 1rem 1.2rem 4.6rem;
    }
}

.carousel-slides .carousel-button:before {
    content: '';
    width: 1.7rem;
    height: 1.7rem;
    background: #5094f2 url(../img/checkmark.png) no-repeat 50% 50%;
    border-radius: 50%;
    position: absolute;
    left: 0.7rem;
    top: 50%;
    margin-top: -0.9rem;
}
@media (min-width: 640px) {
    .carousel-slides .carousel-button:before {
        width: 2.7rem;
        height: 2.7rem;
        left: 1.1rem;
        margin-top: -1.35rem;
    }
}
.carousel-button:hover {
    color: #5094f2;
    background: #fff;
}
.carousel-control {
    position: absolute;
    width: 2.5rem;
    height: 6.3rem;
    top: 50%;
    margin-top: -1.4rem;
    background: url(../img/left.png) no-repeat;
    cursor: pointer;
}
.carousel-prev {
    margin-left: -5rem;
}
.carousel-next {
    right: 0;
    margin-right: -5rem;
    transform: rotate(180deg);
}
/* Carousel */

/* =Header */
.mobile-menu-toggle {
    float: right;
    margin-top: 0.2rem;
}
.header {
    padding: 2.5rem 0 0 0;
    min-height: 6.5rem;
}
.header-logo {
    float: left;
    width: 9.1rem;
}

.header-logo img {
    height: auto;
}
@media screen and (min-width: 640px) {
    .header-logo {
        width: 15.5rem;
        padding-left: 0.1rem;
    }
}
.header-menu,
.header-menu li {
    list-style: none;
    margin: 0;
}
.header-menu {
    float: right;
    font-size: 0;
}
.header-menu li {
    margin-left: 3.8rem;
    position: relative;
    display: inline-block;
    border-bottom: solid 3px #c6c1c1;
}
.header-menu li .active {
    border-color: #5094f2;
}
.header-menu a {
    color: #6c6c6c;
    font-size: 2rem;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 2.5rem 0 1.7rem 0;
}
@media screen and (max-width: 640px) {
    .header-menu .header-submenu {
        width: 100%;
        display: block;
        position: static;
    }
    .header-menu li {
        border-top: solid 1px #ccc;
    }
}
@media screen and (min-width: 640px) {
    .header-menu {
        float: right;
    }
    .header-menu li {
        margin-left: 4rem;
        display: inline-block;
    }
    .header-menu a {
        display: inline-block;
    }
}

.header-menu a:hover {
    color: #5094f2;
}

.header-submenu, .header-submenu li {
    margin: 0;
    padding: 0;
}
.header-submenu li {
    display: block;
}
.header-submenu {
    right: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    /*display: none; */
    opacity: 0;
    transition: opacity .3s ease-in;
    width: 22.7rem;
    background: rgba(80, 148, 242, .8);
}
.header-submenu a {
    color: #fff;
    display: block;
    padding: 1rem 1.3rem;
}
li:hover .header-submenu {
    pointer-events: inherit;
    display: block;
    opacity: 1;
}
.mobile-menu-toggle {
    float: right;
}
@media (min-width: 640px) {
    .mobile-menu-toggle {
        display: none;
    }
    .header-menu {
        clear: none;
    }
}
@media (max-width: 640px) {
    .header {
        min-height: 4.5rem;
        padding-top: 1.1rem;
    }
    .header-menu {
        display: none;
    }
    .active.header-menu {
        display: block;
    }
}
* {
    box-sizing: border-box;
}
/* Header END*/

/* Services */
/* = Services-Hero */
.services-hero {
   background: url(../img/office.png) no-repeat 50% 50%;
   background-size: cover;
   padding-bottom: 17rem;
}
.services-hero-inner p {
    max-width: 48.4rem;
    font-size: 3rem;
    line-height: 1.6;
    padding-left: 0.6rem;
}
.services-hero h2 {
    font-size: 4.2rem;
    padding-top: 11.1rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
}
/* Services-Hero END */

/* =Plans */
.plans {
    padding-bottom: 6.1rem;
    background-color: #333333;
}
.plans h2 {
    font-size: 4.2rem;
    color: #909090;
    font-weight: 100;
}
.plans p {
    font-size: 1.8rem;
    color: #979797;
    padding-top: 0.9rem;
}
.plans-inner {
    padding-top: 2.3rem;
}
.services {
    padding-top: 2.1rem;
    padding-bottom: 2.4rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border-top: 1px solid #689fea;
    border-bottom: 1px solid #689fea;
}
.plan-name {
    font-size: 2.2rem;
    width: 19.7%;
    vertical-align: top;
    padding-top: 3.4rem;
}
.plan-description {
    width: 49.6%;
    padding: 1.7rem 0 2rem 0;
}
.plan-description h4 {
    font-size: 1.6rem;
    letter-spacing: 0.045rem;
}
.plan-description p {
    font-size: 1.4rem;
    color: #909090;
    padding-top: 1.6rem;
    line-height: 1.27;
}
.plan-price {
    font-size: 1.6rem;
    color: #5094f2;
    width: 18%;
    vertical-align: top;
    padding-left: 3.1rem;
    padding-top: 3.7rem;
    letter-spacing: 0.04rem;
}
.plan-order {
    vertical-align: top;
    padding-top: 2.9rem;
    padding-left: 3rem;
}
.button {
    background-color: #5094f2;
    font-size: 2.2rem;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 9.4rem;
    height: 3.8rem;
    text-align: center;
    padding-top: 0.3rem;
    border-radius: 0.1rem;
}
.phone {
    float: left;
    margin-right: 3rem;
}
.phone + h2 {
    padding-top: 1.7rem;
}
/* Plans END*/
/* Services END*/

/* Contact */
/* =Hero */
.contact-hero {
    background: url(../img/laptop1.png) no-repeat 50% 50%;
    background-size: cover;
    height: 48.5rem;
}
.contact-hero-inner{
    text-align: left;
}
.contact-hero h2 {
    font-size: 4.2rem;
    padding-top: 11.1rem;
    padding-left: 0.4rem;
}
.contact-hero p {
    font-size: 3rem;
    line-height: 1.6;
    padding-left: 0.39rem;
    padding-top: 0.5rem;
}
/* =Hero END*/
/* =Contact-us */
.contact {
    background: #44556c;
}
.contact-us {
    min-height: 44rem;
}
.contact h2 {
    font-size: 4.2rem;
    padding-top: 2.4rem;
}
.contact-us p {
    font-size: 1.8rem;
    padding-left: 0.1rem;
    padding-top: 1.5rem;
    line-height: 1.4;
}
.form {
    float: left;
    width: 50%;
}
.form h3 {
    color: #aaaaaa;
    font-size: 2.6rem;
    padding-top: 0.3rem;
    padding-bottom: 1.7rem;
}
.form p {
    font-size: 1.4rem;
}
.select2-selection {
    width: 21.1rem;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
    height: 2rem;
    width: 21.3rem;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0.3rem;
    color: #787f89;
    line-height: 1.6rem;
    font-size: 1.4rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}
.select2-container {
    width: 21.2rem !important;
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
}
/* Custom select */
.select-wrapper {
    position: relative;
    display: inline-block;
    width: 43.4%;
    height: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background: #fff;
    font-size: 1.4rem;
}
.select-wrapper:before {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.4rem;
    display: block;
    height: 3rem;
    color: #787f89;
    content: attr(data-select-label);
    line-height: 2;
}
.select-wrapper:hover {
    background: #ccc;
}
.select-wrapper:after {
    content: '';
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid #44556c;
}
.select-wrapper select {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* Custom select */
label {
    font-size: 1.4rem;
    display: block;
}
input {
    margin: 0.6rem 1.7rem 0.5rem 0.1rem;
    color: #787f89;
    width: 42.5%;;
    height: 2rem;
    font-size: 1.4rem;
    padding-left: 0.1rem;
    vertical-align: -webkit-baseline-middle;
}
textarea {
    font-size: 1.4rem;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    margin-top: 0.6rem;
    margin-bottom: 1.3rem;
    width: 91%;
    height: 8.3rem;
}
button {
    cursor: pointer;
    display: block;
    height: 3.6rem;
    width: 9.5rem;
    padding-top: 0.3rem;
    padding-bottom: 3.8rem;
    font-size: 2.2rem;
    color: #ffffff;
    background-color: #5094f2;
    border-width: 0;
    border-radius: 0.1rem;
}
button:hover{
    color: #5094f2;
    background-color: #ffffff;
}
.button:hover {
    color: #5094f2;
    background-color: #ffffff;
}
.global {
    float: left;
    width: 50%;
}
.global h3 {
    font-size: 2.6rem;
    padding-top: 0.4rem;
    padding-left: 0.2rem;
}
.global p {
    
}
.number1, .number2 {
    font-size: 1.8rem;
    line-height: 1.9;
    padding-left: 0.2rem;
}
.number2 {
    margin-left: 1.7rem;
    padding-left: 1.8rem;
    border-left: 0.25rem solid;
}
/* =Contact-us END*/
/* Contact END*/

/* Contact-about*/
/* Main-about*/
.main-about {
    height: 485px;
    background: url(../img/staff.png) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
}
.main-about .main-about-content {
    margin-top: 11.1rem;
    color: #ffffff;
}
.main-about-content h3 {
    font-size: 4.2rem;
}
.main-about-content p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    line-height: 1.6;
    font-size: 3rem;
}
/* Main-about END*/
/* About */
.about {
    height: 44rem;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.about-inner {
    padding-top: 2.6rem;
    max-width: 967px;
    margin: auto;
}
.about h1 {
  padding-bottom: 2.9rem;
  font-size: 4.2rem;
  color: #5094f2;
  margin: 0; 
}
.about-content {
  line-height: 1.5;
  font-size: 1.6rem;  
}
span[data-tooltip] {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}
.tooltiptext {
  display: none;
}
.qtip h1 {
  font-size: 2.5rem;
  color: #5094f2;
  line-height: 1;
}
.qtip div {
    font-size: 1.8rem;
    color: #333333;
    line-height: 1;
}
/* About END*/
/* Contact-about END*/

/* =Containers */
.header,
.carousel-inner,
.features-list,
.footer,
.content-inner,
.services-hero-inner,
.plans-inner,
.contact-hero-inner,
.contact-us,
.main-about-content {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 967px;
    margin: auto;
}
@media and (min-width: 640px) {
    .header,
    .carousel-inner,
    .features-list,
    .footer,   
    .content-inner,
    .services-hero-inner,
    .plans-inner,
    .contact-hero-inner,
    .contact-us,    
    .main-about-content {
        padding-left: 0;
        padding-right: 0;
    }
}
/* Containers */
.off-canvas-menu {
    background: #5094f2;
    position: fixed;
    z-index: 1;
    top: 50%;    
    font-size: 2rem;
    transform: translateX(-98%) translateY(-50%);
    transition: transform 0.3s;
}
.off-canvas-menu, .off-canvas-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.off-canvas-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}
.off-canvas-menu:hover {
    transform: translate(0, -50%)
}
@media print {
    .header, .footer {
        display: none; /* Скрываем header/footer - они не нужны для печати */
    }
    .features-list .features-img {
        float: left; /* изображения смещаем влево */
    }
    .features-list li {
        width: 100%; /* растягиваем на 100% элементы списка */
    }
    li {
        page-break-inside: avoid; /* запрещаем разрыв страницы в элементах li */
    }
    .accordion {
        width: 100%; /* растягиваем аккордион на всю ширину */
    }
    .accordion-body {
        display: block; /* раскрываем элементы аккордиона */
    }
}